body
{

  background-image: url('lekarz.jpg') ;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  font-family: 'Lato', sans-serif;
  background-attachment: fixed;
}
a
{
    color: black;
}
#content
{
    background-color: rgba(255, 255, 255, 0.9);
   /* max-height: 500px;*/
    border-radius: 10px;
}